a, a:hover {
    text-decoration: none;
}

.loc-sections {
    .col-6 {
        height: 5em;
    }
    :nth-child(odd) {
        background: red;
    }
    :nth-child(even) {
        background: blue;
    }
}

#fullpage {
    margin: 0 auto;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    max-width: 100vw;
    background: $primary;
    overflow-x: hidden;
    * {
        color: $white;
    }
}

.container * {
    font-family: 'Cormorant Garamond', serif;
}

.title, .title *, .map-site *, .sponsors * {
    font-family: 'Montserrat', sans-serif;
}

a {
    outline: none;
}

#mv-membership {
    * {
        color: $secondary;
    }
}

.underLine:hover:before {
    border-bottom: 2px solid $white;
}

.mv-featured-img {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    margin-bottom: 0em;
    padding-bottom: 0em;
    position: relative;
    text-align: center;

    .mv-title {
        font-size: 2.2em;
        text-transform: uppercase;
        letter-spacing: .2em;
        padding-top: 40vh;
        font-weight: bold;
    }
}
.mv-scroll-hint {
    text-align: center;
    margin: 0;
    span {
        display: block;
        margin: -1vh auto;
        width: 6em;
        height: 6em;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
}

.mv-animate {
    .col-6 {
        &:hover {
            h1 {
                @extend .animated, .fadeInUp;
            }
        }
    }
}

.mv-underline {
    @extend .underLine;
}

.nav.mv-nav-secondary {
    .nav-item {
        text-transform: uppercase;
        font-weight: bolder;
        letter-spacing: .1em;
        @extend .underLine;
        margin: 0 0.5em;
        &:hover:before {
            bottom: .1em;
        }
    }
}

.mv-nav-secondary {
    margin: 1em auto;
    font-size: 0.9em;
}

.mv-img-block {
}

.mv-image-feed {
    margin: 5em auto;
    padding: 0 1em;
    .mv-feed {
        padding: 0em 5px;
    }
    .image {
        height: 30vh;
        width: auto;
        min-width: 100%;
        margin-bottom: 1em;
        background-color: $secondary;
        background-image: url(img/itg.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.mv-section.golf {
    border-left: 10px solid $golf;
    .underLine:hover:before {
        border-bottom: 2px solid $golf;
    }
    .title {
        h2 {
            text-shadow: 2px 2px $golf;
        }
    }
    .menu {
        .logo {
            .img {
                background: url(img/logo_golf.svg);
            }
        }
    }
    .gallery {
        .image {
            .info {
                .bg {
                    background: $golf;
                }
            }
        }
    }
}
.mv-section.equitacion {
    border-left: 10px solid $horse;
    .underLine:hover:before {
        border-bottom: 2px solid $horse;
    }
    .title {
        h2 {
            text-shadow: 2px 2px $horse;
        }
    }
    .menu {
        .logo {
            .img {
                background: url(img/logo_equitacion.svg);
            }
        }
    }
    .gallery {
        .image {
            .info {
                .bg {
                    background: $horse;
                }
            }
        }
    }
}
.mv-section.gastronomia {
    border-left: 10px solid $gastro;
    .underLine:hover:before {
        border-bottom: 2px solid $gastro;
    }
    .title {
        h2 {
            text-shadow: 2px 2px $gastro;
        }
    }
    .menu {
        .logo {
            .img {
                background: url(img/logo_restaurant.svg);
            }
        }
    }
    .gallery {
        .image {
            .info {
                .bg {
                    background: $gastro;
                }
            }
        }
    }
}

.mv-row-center {
    margin: 1em 20%;
}

.mv-row-full {
    margin: 1em;
}

.mv-section {
    .title, .desc, .menu {
        margin: 1em 20%;
    }
    .title {
        margin-top: 0;
        padding-top: 2em;
        h2 {
            text-transform: uppercase;
            font-size: 2em;
            font-weight: bold;
            letter-spacing: .5em;
            &:after {
                content: '';
                border: 1px solid $white;
                width: 2em;
                display: block;
                margin-top: 1em;
            }
        }
    }
    .desc {
        font-size: 1em;
    }
    .menu {
        margin-bottom: 5em;
        .logo {
            text-align: center;
            .img {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                display: inline-block;
                background: url(img/logo.svg);
                width: 5em;
                height: 5em;
            }
        }

        .navigation {
            margin: 0 auto;
            .nav {
                position: relative;
                top: 25%;
                .nav-item {
                    display: inline-block;
                    span {
                        text-transform: uppercase;
                        font-size: 0.8em;
                        font-weight: bold;
                        letter-spacing: 0.3em;
                        font-family: 'Montserrat', sans-serif;
                        @extend .mv-underline;
                    }
                }
            }
        }
    }
    .achievements {
        margin: 5em auto;
        padding: 0 1em;
        .title {
            h3 {
                font-size: 1em;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: .5em;
                font-weight: bolder;
            }
        }
        .gallery {
            text-align: center;
            .image {
                height: 30vh;
                width: auto;
                min-width: 100%;
                background: $secondary;
                margin-bottom: 1em;
            }
        }
    }
    .gallery {
        .side, .center {
            padding: 0;
        }
        .side {
            text-align: center;
            img {
                height: 40vh;
                width: auto;
            }
        }
        .center {
            img {
                height: 80vh;
                width: auto;
                min-width: 100%;
            }
            .image {
                .info {
                    height: 100%;
                }
            }
        }
        .image {
            position: relative;
            overflow: hidden;
            cursor: pointer;
            img.img-fluid {
                width: 100%;
                height: auto;
            }
            .info {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 100%;
                display: none;
                color: $white;
                .bg {
                    top: 0;
                    display: none;
                    background: red;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: .3;
                }
                .content {
                    position: relative;
                    padding: 1.5em;
                    text-align: left;
                }
            }
            &:hover {
                .info {
                    display: block;
                    @extend .animated, .rollUp;
                    .bg {
                        display: block;
                    }
                }
            }
        }
    }
}

.mv-section.mv-membership {
    background: $strong;
    .title {
        margin-top: 2em;
        h2 {
            width: 100%;
            text-align: center;
            &:after {
                border: none;
            }
        }
    }
    .mv-packet {
        margin: 0em auto;
        padding: 2em 0;
        .image {
            background-color: $primary;
            border-radius: 100%;
            height: 8em;
            width: 8em;
            margin: 0 auto;
            background-image: url(img/logo.svg);
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
        }
        h3 {
            font-size: 1.25em;
            font-weight: bolder;
            text-align: center;
            margin-top: .75em;
        }
        .info {
            padding: .5em 0 1em 1em;
        }
    }
}

.mv-contact {
    background: transparent;
    .desc {
        background: transparent;
        margin: 0;
        padding: 1em 4em;
        h2 {
            text-transform: uppercase;
            font-size: 1.3em;
            letter-spacing: .3em;
            font-weight: bold !important;
            margin: 1em auto;
            &:after {
                content: '';
                display: block;
                margin: 1em 0;
                width: calc( 100% - 3em );;
                border-bottom: 1px solid $text;
            }
        }
        h3 {
            font-size: 1em;
            color: $strong !important;
            text-transform: uppercase;
            letter-spacing: .2em;
            font-weight: bold !important;
        }
        .social {
            margin: 2em auto;
        }
        .social a {
            display: inline-block;
            margin: 0em 1em 0em 0em;
        }
        .fb, .tw, .itg {
            width: 1.5em;
            height: 1.5em;
        }
        .fb {
            background: url(img/fb.svg);
        }
        .tw {
            background: url(img/tw.svg);
        }
        .itg {
            background: url(img/itg.svg);
        }
    }
    .map {
        background: $text;
        height: 38.8vh;
    }
}

.demo-img {
    width: 100%;
    height: 10em;
    background: $primary;
    display: inline-block;
}

#mv-scrollify-footer, .mv-scrollify-override {
    height: auto !important;
}

footer {
    position: relative;
    background-color: $dark;
    padding: 1em 2em;
    .wrapper {
        background: url(img/logo_footer.png);
        opacity: .1;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: -.5em;
    }
    * {
        color: $white;
        font-family: 'Butler', serif;
    }
    .map-site {
        opacity: 1;
        ul {
            list-style: none;
            padding: 0;
            li {
                text-transform: uppercase;
                margin: .5em 0;
            }
        }
    }
    .sponsors {
        h3 {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .logos {
        .gallery {
            margin: 1em auto;
            text-align: center;
        }
        .sponsor {
            height: 4em;
            width: 4em;
            border-radius: 100%;
            margin: 0 1em;
            background: $primary;
            display: inline-block;
        }
    }


    .map-site ul li,
    .sponsors h3 {
        font-family: 'Montserrat', serif;
        font-size: 0.6em;
        letter-spacing: 0.3em;
    }
}