@media screen and (min-width: 770px) {
    #contacto {
        width: 100%;
        clear: both;
        .desc {
            margin: 0;
            padding: 0 0 0 4em;
            .info {
                width: calc( 40vw - 4em );
                display: inline-block;
                float: left;
            }
            .map {
                width: calc( 59vw - 4em );
                height: 37em;
                display: inline-block;
                float: right;
            }
        }
    }
    #mv-membership {
        .desc {
            margin-top: 50px;
        }
    }
}
@media screen and (min-width: 769px) {
    .hidden-lg {
        display: none;
    }
    .side-close, .side-open {
        display: none;
    }
    .mv-scrollify-start {
        padding-top: 50px;
    }
    nav.side {
        width: 100%;
        height: 50px;
        padding-top: 0em;
        overflow: hidden;
        text-align: center;
        background: transparent;
        opacity: 1;
        &:before {
            content: '';
            color: white;
            width: 100vw;
            height: 50px;
            background: $dark;
            position: absolute;
            top: 0;
            left: 0;
        }
        .side-open-internal {
            background: $dark;
            color: $white;
            position: fixed;
            font-size: 1.5em;
            margin: 0;
            padding: 5px;
            margin: 0em;
            cursor: pointer;
            height: 50px;
            width: 50px;
            text-align: center;
            a {
                margin: 0;
                padding: 0;
            }
            img {
                margin: 0;
                padding: 0;
            }
        }
        .side-close {
            display: none;
        }

        a {
            padding: 0em 0.5em;
        }
        .links, .social {
            display: inline-block;
            margin: 0em;
            height: 50px;
        }
        .links {
            position: relative;
            left: 60px;
            float: left;
            a {
                position: relative;
                top: calc( 25px - 1.15em );
            }
            .networks {
                display: inline-block;
                padding: 0em 0em 0em 1em;
                .fb, .tw, .itg {
                    position: relative;
                    top: 3px;
                }
            }
        }
        .social {
            position: relative;
            float: left;
            z-index: 1001;
            .sections, .networks {
                display: inline-block;
                position: relative;
                top: calc( 25px - 0.7em );
            }
            a.page-link {
                position: relative;
                top: -0.5em;
                padding: 0em 0.5em;
                margin: 0;
                color: $white;
                border: none;
                background: transparent;
                &:hover {
                    color: $dark;
                }
            }
            .networks {
                padding: 0em 0em 0em 1em;
                margin-right: 1em;
                a {
                    margin-left: -1.5em;
                }
                .fb, .tw, .itg {
                    position: relative;
                    top: -2px;
                }
            }
        }
        .links a {
            display: inline-block;
        }
        a, .social {
            margin: 0em;
        }
    }
    .mv-row-center {
        margin: 0 20vw !important;
    }
    .mv-section {
        .title, .desc, .menu {
            margin: 1em auto;
        }
        .title {
            .col {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .menu {
            .logo {
                margin-right: 1em;
            }
            .nav-item {
                text-align: center;
                .nav-link {
                    padding: 0.5rem;
                    span {
                    }
                }
            }
        }
    }
    .mv-section.mv-membership {
        .mv-packet {
            .mv-packet-img {
                .image {
                    transform: none;
                    margin-bottom: 1em;
                }
            }
            h3 {
                text-align: center;
            }
            .info {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container * p, .mv-contact .desc h3, .mv-contact .desc p {
        font-size: 5vw;
    }
    .mv-contact .desc p {
        font-size: 3.5vw;
    }
    .hidden-md {
        display: none;
    }
    #fullpage {
        padding-bottom: 0;
    }
    .side-open-internal {
        display: none;
    }
    nav.side.active {
        width: 50%;
        .networks {
            text-align: center;
            a {
                display: inline-block;
                background: transparent;
                border: none;
                margin: 0;
            }
        }
    }
    .mv-scrollify-start {
        padding-top: 2em;
    }
    .mv-row-center {
        margin: 1em auto;
    }
    .mv-section {
        .title, .desc, .menu {
            margin: 1em auto;
        }
        .title {
            padding-left: 1em;
            padding-right: 1em;
            h2 {
                font-size: 5vw;
            }
        }
        .desc {
            padding: 0 1em;
            font-size: 5vw;
        }
        .menu {
            padding: 0;
            .logo {
                display: none;
            }
            .nav-item {
                text-align: center;
                font-size: 4vw;
            }
        }
    }
    .mv-section.mv-membership {
        .mv-packet {
            display: block;
            padding: 0;
            .mv-packet-img {
                .image {
                    display: none;
                }
            }
            h3 {
                font-size: 4.5vw;
            }
            .info {
                p {
                    font-size: 5vw;
                }
            }
        }
    }
    .mv-scrollify.wrapper {
        height: auto !important;
    }
    .mv-contact {
        .title {
            padding: 0;
        }
        .desc {
            padding: 0;
            margin: 0;
            h2 {
                font-size: 5vw;
            }
            h3 {
                font-size: 4vw;
            }
            .info {
                padding: 0 1em;
            }
            .map {
                height: 40vh;
            }
            .social {
                margin: 0.5em auto;
            }
        }
    }
    footer {
        .map-site {
            ul {
                text-align: center;
                a {
                    display: block;
                }
                a:first-of-type li {
                    border: none;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .mv-section {
        .desc p {
            margin: 0.5em 0;
        }
    }
}