.block-transparency {
    &:before {
        opacity: 1 !important;
    }
    opacity: 1 !important;
}

nav.side {
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background: $dark;
    opacity: .3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2em;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.3em;
    @extend .serif;
    &:before {
        opacity: .5;
        transition: 0.5s;
    }
    &:hover::before {
        opacity: .7;
    }
    .side-close {
        position: absolute;
        top: .5em;
        right: .5em;
        font-size: 2.5em;
        padding: 0;
        margin: 0;
    }
    a, .social {
        margin-right: 1em;
    }
    a, a.page-link {
        outline: none;
        padding: 1em;
        text-decoration: none;
        color: $main_text_color;
        display: block;
        transition: .6s;
        &:hover {
            color: $secondary_text_color;
        }
    }
    .links {
        margin: 2em auto;
    }
    .social a {
        display: inline-block;
        margin: 0;
    }
    .fb, .tw, .itg {
        width: 1.5em;
        height: 1.5em;
    }
    .fb {
        background: url(img/fb.svg);
    }
    .tw {
        background: url(img/tw.svg);
    }
    .itg {
        background: url(img/itg.svg);
    }
}

nav.side.active {
    width: 25%;
    opacity: .7;
}

.side-open {
    background: $dark;
    z-index: 1000;
    color: $white;
    position: fixed;
    font-size: 1.5em;
    margin: 0;
    padding: 5px;
    margin: 0em;
    cursor: pointer;
    height: 50px;
    width: 50px;
    text-align: center;
    img {
        margin: 0;
        padding: 0;
    }
}