.post {
	background: white;
	margin: -10em 3em 2em;
	overflow-y: auto;
	overflow-x: hidden;
	.container {
		.date {
			font-size: 1em;
		}
		.section {
			margin: 0 auto 2em;
			h2 {
				margin: 1em auto;
				&:after {
					content: '';
					display: block;
					width: 1em;
					height: 2px;
					background: $primary;
					position: relative;
					top: 0.1em;
				}
			}
			.participant-profile {
				text-align: center;
				.picture {
					height: 10vh;
					width: 10vh;
					background: grey;
					border-radius: 100%;
					margin: 0 auto;
				}
				.name {
					margin: 0.5em auto 0;
				}
			}
		}
		.content {
			* {
				p {
					font-size: 1em;
				}
			}
		}
		.social {
			.link {
				margin: 1em;
			}
		}
		.tags {
		}
	}
}